*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.nav{
    border: 1px solid rgb(94, 71, 207) ;
    height: 70px;
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 700px;
    font-family:sans-serif;
    color: aliceblue;
    background-color: rgb(94, 71, 207);

}
#div3{
    color: rgb(45, 124, 163);
}